.container {
  width: 90%;
  margin: auto;
  padding-top: 30px;
}

h2 {
  font-size: 30px;
  margin-bottom: 5px;
}

.subtitle {
  color: gray;
  margin-bottom: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 22px;
}
